DATABASE_URL=postgres://postgres:postgres@localhost:5432/webhook_pipeline
OPENROUTER_API_KEY="you can find open-router api key at in the form at additional info field"
OPENROUTER_MODEL=arcee-ai/trinity-large-preview:free
